[Desktop Entry]
Name=USB Creator
Name[de]=USB Creator
Name[nl]=USB Creator
Name[pt]=USB Creator
Comment=Create a multi-boot USB
Comment[ca]=Crea un USB de multi-arrencada. 
Comment[de]=Erstelle einen Multi-Boot
Comment[it]=Creare un USB multi-boot
Comment[ja]=マルチブート USB の生成
Comment[nl]=Maak een multi-boot USB
Comment[pt]=Criar um USB multi-boot
Comment[ru]=Создать мульти-загрузочный USB-накопитель
Exec=usb-creator
Icon=usb-creator
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
