[Desktop Entry]
Name=USB Creator
Name[ca]=USB Creator 
Name[de]=USB Creator
Name[fr]=USB Creator
Name[it]=SolydXK USB Creator
Name[ja]=USB Creator
Name[nl]=USB Creator
Name[pl]=USB Creator
Name[pt]=USB Creator
Name[ru]=USB Creator - Создание загрузочной флешки.
Comment=Create a multi-boot USB
Comment[ca]=Crea un USB de multi-arrencada. 
Comment[de]=Erstelle einen Multi-Boot USB-Stick
Comment[fr]=Créer une clé USB multi-boot
Comment[it]=Creare un USB multi-boot
Comment[ja]=マルチブート USB の生成
Comment[nl]=Maak een multi-boot USB
Comment[pl]=Utwórz USB wielosystemowy.
Comment[pt]=Criar um USB multi-boot
Comment[ru]=Создать мульти-загрузочный USB-накопитель
Exec=usb-creator
Icon=usb-creator
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
