html, body
{
	margin: 0;
	padding: 0;
	background-color: #E6E6E6;
	font-family: sans-serif;
	color: #585858;
	overflow-y: scroll;
}

td
{
	vertical-align: top;
	padding-right: 10px;
}

a
{
	color: #0F538F;
}

#background
{
	position: fixed !important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	/* border: 1px solid #808080; */
	background-image: url('background.svg');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: Auto 75%;
}

h1
{
    color: #585858;
	position: absolute;
	top: 25px;
	left: 100px;
	font-size: 26px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

h2
{
	padding-top: 15px;
    color: #585858;
	font-size: 18px;
	font-weight: bold;
}


.main
{
	position: absolute;
	top: 70px;
	left: 125px;
	width: 65%;
	font-size: 14px;
}
