[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=usb-creator
Icon=usb-creator
Name=Create a multi-boot USB with the USB Creator
Name[ca]=Crea un USB de multi-arrencada amb el USB Creator.
Name[de]=Erstelle einen Multi-Boot USB Stick mit dem USB Creator
Name[it]=Crea USB multi-boot con USB Creator
Name[nl]=Maak een multi-boot USB met de USB Creator
